In [65]:
print("Hey, what's up?")

Hey, what's up?

In [66]:
print("Hello World!")

Hello World!

In [67]:
5 + 5 * 10

55

In [68]:
(5 + 5) * 10

100

In [69]:
abs(-5.1)

5.1

In [70]:
import math

In [71]:
import rasterio

In [72]:
math.floor(7.1)

7

In [73]:
math.ceil(7.1)

8

In [74]:
round(7.123456789)

7

In [75]:
round(7.123456789, 4)

7.1235

In [76]:
x = 7.123456789

In [77]:
print(x)

7.123456789

In [78]:
print(round(x))

7

In [79]:
print(round(x + 3))

10

In [80]:
x

7.123456789

In [81]:
x**2

50.74363662475018

In [82]:
x / 2

3.5617283945

In [83]:
7 / 2

3.5

In [84]:
7 // 2

3

In [85]:
7 % 2

1

In [86]:
print("The value of 7 % 2 is " + str(7 % 2))

The value of 7 % 2 is 1

## In the following cell, calculate the difference between x and 100

In [88]:
if x > 8:
    print("Whoa! Big number.")
else:
    print("Small number.")

Small number.

In [87]:
x - 100

-92.876543211

In [115]:
y = 11

In [116]:
if y < 5:
    print("less than 5")
elif y < 10:
    print("greater than or equal to 5, less than 10")
else:
    print("greater than 10")

greater than 10

## LISTS

In [117]:
[2, 4, 6, 8, 10]

[2, 4, 6, 8, 10]

In [118]:
["I", "am", "super", "tall"]

['I', 'am', 'super', 'tall']

In [119]:
["I", "am", 7, "feet", "tall"]

['I', 'am', 7, 'feet', 'tall']

In [123]:
z = [1, 2, 3, 4, 5]

In [127]:
z[4]

5

In [128]:
len(z)

5

In [135]:
a = [
    [1, 2, 3, 5],
    [4, 5, 6, 7],
    [7, 8, 9, 9],
]

In [136]:
len(a)

3

In [137]:
a[0]

[1, 2, 3, 5]

In [138]:
a[0][0]

1

In [139]:
a[1][1]

5

In [140]:
len(a[0])

4

In [145]:
for val in z:
    print(val + 10)

11
12
13
14
15

In [146]:
for row in a:
    print(row)

[1, 2, 3, 5]
[4, 5, 6, 7]
[7, 8, 9, 9]

In [149]:
def dn2toa(value, another):
    return value + another

In [150]:
for row in a:
    for col in row:
        print(dn2toa(col, 5.2))

6.2
7.2
8.2
10.2
9.2
10.2
11.2
12.2
12.2
13.2
14.2
14.2